@model ResetPasswordViewModel

<div class="container mt-5">
    <div class="card p-4 shadow-lg">
        <h3 class="text-center mb-4">Şifremi Unuttum</h3>
    <form method="post" asp-controller="Account" asp-action="ResetPassword">
    <div class="form-group">
        <label for="Email">E-posta Adresi:</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="form-group">
        <label for="NewPassword">Yeni Şifre:</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
    </div>
    <div class="form-group">
        <label for="ConfirmPassword">Yeni Şifreyi Doğrula:</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required />
    </div>
    <button type="submit" class="btn btn-primary">Onayla</button>
</form>
</div>
</div>
